.contactCase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
}

button[type="submit"] {


  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



input[type="text"],
input[type="email"],
textarea {

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputColor {
  color: black;
  
}

#message {
  width: 350px;
  height: 200px;
}